@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@media print
{    
    .no-print, .no-print *
    {
        @apply hidden
    }
}

.neon {
  @apply dark:text-gray-300 hover:text-[#1251ff] dark:hover:text-red-600 dark:bg-black shadow-lg shadow-gray-400 hover:shadow-[#8a2be2] dark:hover:shadow-red-600 hover:shadow-md ease-in hover:duration-200
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  /* button {
    @apply shadow-lg hover:shadow-xl shadow-gray-400 rounded-xl uppercase
  } */
}

.neon-2{
  font-family: 'Monoton', cursive;
  font-size:130px;
  color: #FFD5FF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  letter-spacing: 8px;
  text-shadow: 1px 0px 4px #FFD5FF, 2px 0px 4px #FFD5FF, 3px 0px 4px #FFD5FF, 2px 0px 3px #D42CCA, 2px 3px 15px #D42CCA, 2px 0px 15px, 5px 0px 125px, 20px 0vw 200px #D42CCA,40px 0vw 200px #D42CCA;
}

.flicker-slow{
  animation: flicker 3s linear infinite;
}

.flicker-fast{
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		text-shadow: none;
    opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

.test{
  border: red solid 2px
}

.test2{
  border: solid palegreen 2px
}
